<p>{{t "This action is permanent and cannot be undone. All users will permanently lose access to their Red Bangle chat accounts." }}</p>
<p>{{t "Are you sure you want to deactivate this organization?"}}</p>
